# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
sound_env/
*.egg-info/
.pytest_cache/
.mypy_cache/
data/upload/*
data/temp/*
*.npy
*.npz
*.h5
*.model
models/*.pkl
!models/sound_classifier.pkl
*.dll
*.exe
*.so
*.dylib
*.log
logs/
.gitpod*
sound_env/
*.dll
sound_env/
venv/
.env/
*.jar
get-pip.py
data/upload/
