__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.history/
.DS_Store
data/upload/*
data/temp/*
models/*.pkl
!models/sound_classifier.pkl
*.npy
*.npz
DockerDesktopInstaller.exe
*.log
